language: rust
os:
    - linux
    - osx
rust:
    - stable
    - nightly
matrix:
    allow_failures:
        - rust: nightly
script:
    - cargo build
    - cargo test
notifications:
    email: false
